html {
    background-color: lemonchiffon;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.masonry {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    background-color: lightgreen;
    margin: 0;
    
}

.img {
    padding: 10px;
    display: flex;
    width: auto;
    border-radius: 15%;
    transition: ease-out;
    transition-delay: 0.2ms;
}

.img:hover {
    transform: scale(1.5);
}

.main {
    flex-basis: 0;
    flex-direction: row;
    border: solid 2px black;
    flex-wrap: wrap;
}

@media screen and (min-width: 665px) {
    body {
        flex-direction: row;
        
    }
}

@media screen and (min-width: 330px) {
    .masonry {
        justify-content: center;
    }
}

@media screen and (min-width: 1565px) {
    body {
        position: absolute;
        left: 35%;
        right: 35%;
        margin: 0;
        flex-direction: column;
    }
}
